.about {
  margin-bottom: 150px;

  @media (max-width: $only-tablet-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $only-mobile-width) {
    margin-bottom: 15px;
  }
}

.about__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  justify-content: space-between;
  padding: 0 25px;
  counter-reset: myCounter;

  @media (max-width: $only-tablet-width) {
    padding: 0 70px;
  }

  @media (max-width: $only-mobile-width) {
    padding: 0;
  }
}

.about__list li {
  width: 263px;
  padding-top: 63px;
  text-align: center;
  position: relative;

  @media (max-width: 1101px) {
    width: 240px;
  }

  @media (max-width: 1024px) {
    width: 180px;
  }

  @media (max-width: 1023px) {
    padding-top: 67px;
    margin-bottom: 29px;
  }

  @media (max-width: 998px) {
    width: 263px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-top: 65px;
    margin-bottom: 40px;
  }

  &::after {
    @include text (28px, 38px);
    content: "0" counter(myCounter);
    counter-increment: myCounter;
    font-weight: 700;
    letter-spacing: -1.27px;
    position: absolute;
    top: 10px;
    left: calc(50% - 15px);
    color: $aqua;
  }
}

.about h2 {
  @include text (30px, 30px);
  font-weight: 600;
  letter-spacing: -0.005em;
  color: $title;
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: $only-tablet-width) {
    @include text (24px, 41px);
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.about__list p {
  @include zero-indent;
  @include text (22px, 34px);
  font-weight: 400;
  letter-spacing: -0.005em;
  color: $black;

  @media (max-width: $only-tablet-width) {
    @include text (22px, 34px);
  }

  @media (max-width: $only-mobile-width) {
    @include text (18px, 34px);
    font-family: $font-other;
  }
}
